.App {
  /* font-family: sans-serif; */
  text-align: center;
  font-family: "Ranchers", cursive;
  color: rgb(32, 21, 61);
}
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

.Mainit {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
}
